<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Nosotros</title>
        <link rel="stylesheet" href="../styles/nosotros.css">
    </head> 

    <body>
        <div class="navbar-container">
            <img class="logo" src="../images/logo-dark.svg" alt="logo">
            <ul class="nav-links">
              <li><a href="../../index.html">Inicio</a></li>
              <li><a href="comojugar.html">Cómo Jugar</a></li>
              <li><a href="nosotros.html">Nosotres</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
            <div class="navbar-spacer">
            </div>
            <a href="http://localhost:3000/registro"><button class="iniciar-sesion">INICIAR SESIÓN</button></a>
            <a href="http://localhost:3000/registro"><button class= "registrarse">REGISTRARSE</button></a>
          </div>

        <div class="main">
            <div class="card">
                <div class="head">
                    <div class="circle">
                        <div class="img">
                            <img src="https://pps.whatsapp.net/v/t61.24694-24/187707978_2933057260297271_2826933123789017965_n.jpg?ccb=11-4&oh=01_AVyM3Laf8ppWDdAB3aQk3f7RvsxCP6ApWBNMzUoNvwZoJg&oe=633DD973" alt="">
                        </div>
          </div>
                </div>
                <div class="descripcion">
                    <h3>Allan Baus</h3>
                    <p>Loremipsum</p>
                </div>
                <div class="contanct">
                    <a href="#">Contacto</a>
                </div>
            </div>
            <div class="card">
                <div class="head">
                    <div class="circle">
                        <div class="img">
                            <img src="https://scontent.fscl9-2.fna.fbcdn.net/v/t31.18172-8/13909049_1209168379134886_1969393283525047209_o.jpg?stp=c144.0.864.864a_dst-jpg_s851x315&_nc_cat=110&ccb=1-7&_nc_sid=da31f3&_nc_ohc=mfSCPKbNgHkAX_MrDBg&_nc_ht=scontent.fscl9-2.fna&oh=00_AT8OIF70bhbQurdJ1axeaWfZGfzmeOJbEOfGSQGU7icfGA&oe=6357CC83" alt="">
                        </div>
                    </div>
                </div>
                <div class="descripcion">
                    <h3>Juan Pablo Sánchez</h3>
                    <p>Loremipsum</p>
                </div>
                <div class="contanct">
                    <a href="#">Contacto</a>
                </div>
            </div>
            <div class="card">
                <div class="head">
                    <div class="circle">
                        <div class="img">

                            <img src="https://pps.whatsapp.net/v/t61.24694-24/266580923_695304785112751_1626335121288648562_n.jpg?ccb=11-4&oh=01_AVw9m22vSb6K2iPVuhNEVxOoyoYXW45AtmD_Twk4oZBBgw&oe=6340B8F8" alt="">

                        </div>
                    </div>
                </div>
                <div class="descripcion">

                    <h3>Florencia Baeza</h3>
                    <p>Loremipsum</p>
                </div>
                <div class="contanct">
                    <a href="#">Contacto</a>
                </div>
            </div>
        </div>
        
    </body>


</html>