<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Título</title>
    <link href="../styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar-container">
      <img class="logo" src="../images/logo-dark.svg" alt="logo">
      <ul class="nav-links">
        <li><a href="../../index.html">Inicio</a></li>
        <li><a href="comojugar.html">Cómo Jugar</a></li>
        <li><a href="nosotros.html">Nosotres</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
      <div class="navbar-spacer">
      </div>
      <a href="http://localhost:3000/registro"><button class="iniciar-sesion">INICIAR SESIÓN</button></a>
      <a href="http://localhost:3000/registro"><button class= "registrarse">REGISTRARSE</button></a>
    </div>

    <h1 class="title">Elige tu Equipo</h1>

    <div class="main-container">
      <button class="card" id="card-1">
        <h3>MAGO</h3>
        <img class="card-image" src="../images/mago.jpg" alt="magician">
        <p>Ataque</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Defensa</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Velocidad</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget placerat sapien.</p>
      </button>
      <button class="card" id="card-2">
        <h3>GUERRERA</h3>
        <img class="card-image" src="../images/guerrera.jpg" alt="magician">
        <p>Ataque</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Defensa</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Velocidad</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget placerat sapien.</p>
      </button>
      <button class="card" id="card-3">
        <h3>SANADOR</h3>
        <img class="card-image" src="../images/sanador.jpg" alt="magician">
        <p>Ataque</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Defensa</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Velocidad</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget placerat sapien.</p>
      </button>
      <button class="card" id="card-4">
        <h3>LEÑADOR</h3>
        <img class="card-image" src="../images/lenador.jpg" alt="magician">
        <p>Ataque</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Defensa</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Velocidad</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget placerat sapien.</p>
      </button>
      <button class="card" id="card-5">
        <h3>MINERO</h3>
        <img class="card-image" src="../images/minero.jpg" alt="magician">
        <p>Ataque</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Defensa</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Velocidad</p>
        <div class="progress">
          <div class="color"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget placerat sapien.</p>
      </button>
    </div>

    <a href="http://localhost:3000/game"><button class="continuar">CONTINUAR</button></a>

    <!-- <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://cdnb.artstation.com/p/assets/images/images/031/976/427/large/tsuna-solitario-mag-01.jpg?1605122188" class="card-img-top" alt="Mago">
            <div class="card-body">
              <h5 class="card-title">Mago</h5>
              <p>Ataque</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Defensa</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Velocidad</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Elegir</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/90/3d/20/903d2042ef4f78339a2d7068273a6553.jpg" class="card-img-top" alt="Guerrero">
            <div class="card-body">
              <h5 class="card-title">Guerrero</h5>
              <p>Ataque</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Defensa</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Velocidad</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Elegir</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/93/e7/92/93e7920af1876d0d1428f4b621da6cb2.jpg" class="card-img-top" alt="Sanador">
            <div class="card-body">
              <h5 class="card-title">Sanador</h5>
              <p>Ataque</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Defensa</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Velocidad</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Elegir</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://cdnb.artstation.com/p/assets/images/images/043/108/615/large/amit-awaghade-fc.jpg?1636352664" class="card-img-top" alt="Mago Chistoso">
            <div class="card-body">
              <h5 class="card-title">Minero</h5>
              <p>Ataque</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Defensa</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Velocidad</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Elegir</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9137621b-9996-4791-b597-42184e942a0c/dd1hy4f-e8f55d29-8efe-4a3b-a9f3-336a5e49a6fd.jpg/v1/fill/w_1280,h_1684,q_75,strp/lumberjack_by_dusint_dd1hy4f-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTY4NCIsInBhdGgiOiJcL2ZcLzkxMzc2MjFiLTk5OTYtNDc5MS1iNTk3LTQyMTg0ZTk0MmEwY1wvZGQxaHk0Zi1lOGY1NWQyOS04ZWZlLTRhM2ItYTlmMy0zMzZhNWU0OWE2ZmQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.15iR-9IMJv_oltIedlpIcrFA1mE3CntXdrMAeobvshU" class="card-img-top" alt="Mago Chistoso">
            <div class="card-body">
              <h5 class="card-title">Leñador</h5>
              <p>Ataque</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Defensa</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Velocidad</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Elegir</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <script src = "../js/front.js"> </script>

  </body>
</html>