@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


.imagen {
    text-align: center;
    width: 550px;;
    height:auto;
    margin: auto;
    margin-top: 85px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.reglas {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
    --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
    }
.reglas:hover {
    --_p: 100%;
  --_s: .3s;
      }
/* https://css-tricks.com/css-hover-effects-background-masks-3d/ */

.navbar-container {
  margin: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  background-color: white;
}

.navbar-spacer {
  height: auto;
  width: 15%;
}

.logo {
  cursor: pointer;
  width: 250px;
  margin-top: -35px;
  margin-bottom: -40px;
  margin-right: -40px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: black;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.iniciar-sesion {
  background-color: white;
  color: black;
  border: 2px solid #3F4E4F;
}

.iniciar-sesion:hover {
  border: 3px solid #3F4E4F;
  background-color: white;
}

body {
  background-color: #DCD7C9;
  font-family: 'Roboto', sans-serif;
}

li, a, button {
  /* color: #edf0f1; */
  text-decoration: none;
}

p {
  font-weight: 500;
}

button {
  font-size: 16px;
  font-weight: 500;
  padding: 9px 25px;
  background-color: #3F4E4F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: block;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  border: 1px solid #2C3639;
  background-color: #2C3639;
}

.large-button {
  width: 100%;
}

.main-container {
  display: flex;
}

.main-container .container-1 {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.main-container .container-2 p {
  margin-top: 20px;
  margin-bottom: 50px;
}
